/*generali*/
.grey{
  color: #6C757D;
}
.t-14px{
  font-size: 14px;
}

/*HEADER*/
header{
  position: fixed;
  z-index: 999;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #F8F9FA;
}
.no_padding-x{
  padding: 0;
}
.nv_navbar{
  background-color: white;
}
.navbar-collapse {
  flex-basis: 0;
}
.orange{
  color: #FF8F00;
}
.dropdown-menu[data-bs-popper]{
  right: 0;
}

/*MAIN*/
main{
  padding-top: 100px;
  height: 100vh;
}
.menu_sx{
  width: 70px;
  height: 100%;
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
}
.nv_button{
  background-color: transparent;
  border: none;
  border-radius: none;
  width: 70px;
}

.nv_container{
  color: white;
  width: calc(100vw - 70px);
}
.nv_container .studente{
  background-color: #1B72E8;  
}
.btn_studente{
  height: 25px;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.offcanvas.offcanvas-end{
  width: 100%;
}
.big-count{
  font-size: 30px;
}


.prossime-classi{
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2rem;
}
.red_code{
  background-color: #F26551;
  color: white;
  padding: 7px 5px;
  border-radius: 50%;
}
.btn_mini{
  padding: .10rem .5rem;
  font-size: .75rem;
}


/*MEDIAQUERY*/

@media screen and (min-width: 991px) {
  .menu_sx {
      width: 140px;
  }
  .offcanvas.offcanvas-end{
    width: 50%;
  }
}