/*generali*/
.grey{
  color: #6C757D;
}
.black{
  color: black;
}
.white{
  color: white;
}
.t-14px{
  font-size: 14px;
}
.bdb-g{
  border-bottom: 2px solid #D2D2D2;
}


/*HEADER*/
header{
  position: fixed;
  z-index: 999;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #F8F9FA;
}
.no_padding-x{
  padding: 0;
}
.navbar.nv_navbar.navbar-expand-lg.bg-body-tertiary{
  background-color: white !important;
}
.bg_search{
  background-color: #E5E5E5;
}
.form-control {
  border-left: 0;
}
.navbar-collapse {
  flex-basis: 0;
}
.orange{
  color: #FF8F00;
}

/*MAIN*/
main{
  padding-top: 60px;
  height: 100vh;
  background-color: #F8F9FA;
}
.menu_sx{
  width: 70px;
  height: 100%;
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
}
.menu_bot{
  height: calc(100vh - 200px);
}
.nv_button{
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.nv_container{
  color: white;
  width: calc(100vw - 70px);
  margin: 0 auto;
  overflow-y: auto;
}
.nv_container .studente{
  background-color: #1B72E8;  
}
.offcanvas.offcanvas-end{
  width: 100%;
}
.offcanvas .form-control{
  border-left: var(--bs-border-width) solid var(--bs-border-color);
}
.btn_app{
  padding: 1px 8px;
  border-radius: 20px;
  font-size: 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.big-count{
  font-size: 30px;
}
.red_code{
  background-color: #F26551;
  color: white;
  padding: 7px 5px;
  border-radius: 50%;
}
.btn_mini{
  padding: .10rem .5rem;
  font-size: .75rem;
}
.stats img{
  width: 100%;
  height: 100%;
}

/*---------------------------------------------------*/
/*MEDIAQUERY*/

@media screen and (min-width: 991px) {
  .menu_sx {
      width: 140px;
  }
  .offcanvas.offcanvas-end{
    width: 50%;
  }
  .col-student{
    justify-content: center;
  }
}